h1 {
color: violet;
text-align: center;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

.form-check {
    text-align: center
}

.carousel {
    background-color: lightpink;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.d-block {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
    margin: 20px auto;
}